@import url('https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font: normal 16px Nunito, sans-serif;
  font-weight: 200;
  color: #33323e;
}

p {
  font-size: 0.98rem;
  line-height: 1.8;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  /* opacity: 0.75; */
  color: #33323e;
  cursor: pointer;
}

/* header styles */
header {
  position: fixed;
  width: 100%;
  background-color: #f6e8e5;
  margin-bottom: 40px;
  padding: 20px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  z-index: 2;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  text-align: center;
  font-size: 0.77rem;
  margin: 0;
  padding-top: 20px;
}

header h2 a {
  color: #33323e;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

header nav ul li {
  padding-top: 20px;
  font-size: 0.83rem;
}

header nav ul li a {
  position: relative;
  color: #33323e;
  padding: 0 10px;
}

header nav ul li a:hover {
  border-bottom: 1px solid #33323e;
  padding-bottom: 5px;
}

/* intro styles */
.intro {
  height: 80vh;
  padding: 30px 0;
  flex-direction: column;
  background-color: #f6e8e5;
  color: #33323e;
}

.intro div {
  opacity: 0;
  padding: 110px 60px;
  animation: 1.25s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.intro h1 {
  font-size: 1.57rem;
  margin: 40px 0;
}

.fa-angle-down {
  font-size: 3rem;
  padding-left: 60px;
}

/* portfolio section styles */
.portfolio {
  width: 100%;
}

.projects h2, #services h2, #about h2, #contact h2 {
    margin-left: 40px;
    font-size: 2rem;
}

.projects {
  margin: 100px 0;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.project img {
  width: 100%;
  padding-bottom: 40px;
  margin: auto;
}

.project h3 {
  margin-top: 20px;
}

.project h3, .project p {
  padding: 20px 0;
}

.project .tools {
  padding-bottom: 20px;
}

.project .buttons {
  display: flex;
  padding: 20px 0 40px;
  margin-bottom: 20px;
}

.project .btn, form .btn {
  font-size: 0.75em;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #33323e;
  background-color: transparent;
  padding: 15px 40px;
  margin-right: 15px;
  width: 200px;
  cursor: pointer;
}

.project .btn:hover, form .btn:hover {
  background-color: #33323e;
  color: #fff;
}

/* services section styles */
#services {
  width: 100%;
}

#services h2, #about h2, #contact h2 {
  margin-bottom: 20px;
}

#services ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

#services ul li {
  margin: 40px 40px 20px 40px;
}

#services h3 {
  padding: 5px 0;
}

#services i, #services p {
  padding: 20px 0;
}

#services i {
  font-size: 3rem;
  color: #f6e8e5;
}

/* about section styles */
#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

#about img {
  width: 100%;
  padding-bottom: 40px;
  margin: auto;
}

#about h3 {
  padding: 20px 0;
  margin-top: 20px;
}

#about .description {
  margin-left: 0;
}

#about p {
  padding: 20px 0;
  margin-bottom: 40px;
}

#about .about-container, #contact .contact-container {
  margin: 40px;
}

/* contacct section styles */
#contact {
  width: 100%;
}

#contact .contact-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
  padding-bottom: 40px;
  margin: 0 40px;
}

#contact .contact-container p {
  width: 85%;
}

form {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 40px 0 100px 0;
}

form .form-control {
  padding-bottom: 30px;
}

form .form-control label {
  display: block;
  padding-bottom: 10px;
}

form .form-control input, form .form-control textarea {
  background-color: #f0f0f0;
  width: 100%;
  font-family: inherit;
  border: none;
  height: 50px;
  padding: 15px;
  letter-spacing: 1px;
}

form .form-control input::placeholder, form .form-control textarea::placeholder {
  opacity: 40%;
  font-size: 0.85rem;
  letter-spacing: normal;
}

form .form-control textarea {
  min-height: 100px;
  max-height: 180px;
  resize: vertical;
}

/* footer styles */
footer {
  position: relative;
  background-color: #f6e8e5;
  color: #33323e;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
}

.footer-left {
  margin-bottom: 10px;
}

footer p {
  font-size: 0.87rem;
}

footer a {
  color: #33323e;
  opacity: 1;
}

.fa-github, .fa-linkedin, .fa-twitter {
  padding-left: 5px;
}

.fa-angle-up {
  position: absolute;
  bottom: 40%;
  right: 20px;
  font-size: 2rem;
}

.coffee {
  width: fit-content;
  padding-left: 5px;
  vertical-align: middle;
}

/* media queries */
@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 185px;
  }

  header h2 {
    font-size: 0.93rem;
  }

  .intro {
    padding: 30px 120px;
    min-height: 70vh;
  }

  .intro h1 {
    font-size: 2.3rem;
  }

  .intro p {
    word-wrap: break-word;
    width: 600px;
    font-size: 0.98rem;
  }

  #portfolio, #about, #services, #contact {
    width: 80%;
    margin: auto;
  }

  .project {
    height: 500px;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }

  .project img, #about img {
    width: 50%;
    margin-right: 40px;
  }

  .project .description {
    margin-top: 36px;
  }

  .project .buttons {
    margin-bottom: 0;
  }

  .project h3 {
    margin-top: 0;
  }

  #services ul {
    flex-direction: row;
    justify-content: space-between;
  }

  #about .about-container {
    display: flex;
  }

  #about h3 {
    margin-top: 72.5px;
  }

  #about .description {
    margin-left: 40px;
  }

  #about p {
    margin-bottom: 72.5px;
  }

  #contact .contact-container {
    flex-direction: row;
  }

  #contact .contact-container p {
    margin: 8px 70px 70px 0;
    padding: 30px 0;
  }

  footer div {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 180px;
  }

  footer div .footer-left {
    margin-top: 10px;
  }
}