@import url('https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font: normal 16px Nunito, sans-serif;
  font-weight: 200;
  color: #000;
}

p {
  font-size: 0.98rem;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  /* opacity: 0.75; */
  color: #000;
  cursor: pointer;
}

/* header styles */
header {
  position: fixed;
  width: 100%;
  /* background-color: #f6e8e5; */
  /* background-color: #769381; */
  background-color: #9A99AB;
  margin-bottom: 40px;
  padding: 20px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  z-index: 2;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  text-align: center;
  font-size: 0.77rem;
  margin: 0;
  padding-top: 20px;
}

header h2 a {
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

header nav ul li {
  padding-top: 20px;
  font-size: 0.83rem;
}

header nav ul li a {
  position: relative;
  color: #fff;
  padding: 0 10px;
}

header nav ul li a:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

/* intro styles */
.intro {
  padding: 30px 0;
  flex-direction: column;
  /* background-color: #f6e8e5; */
  background-color: #9A99AB;
  color: #fff;
}

.intro div {
  opacity: 0;
  padding: 110px 60px;
  animation: 1.25s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.intro h1 {
  font-size: 1.57rem;
  margin: 40px 0;
}

.fa-angle-down {
  font-size: 3rem;
  padding-left: 60px;
}

/* portfolio section styles */
.portfolio {
  width: 100%;
}

.projects {
  margin: 100px 0;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

.image-container img {
  border: 2px solid red;
}

/* footer styles */
footer {
  position: relative;
  background-color: #9A99AB;
  color: #fff;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
}

.footer-left {
  margin-bottom: 10px;
}

footer p {
  font-size: 0.87rem;
}

footer a {
  color: #fff;
  opacity: 1;
}

.fa-github, .fa-linkedin {
  padding-left: 5px;
}

.fa-angle-up {
  position: absolute;
  bottom: 37%;
  right: 20px;
  font-size: 2rem;
}

.coffee {
  width: fit-content;
  padding-left: 5px;
  vertical-align: middle;
}

/* media queries */
@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 185px;
  }

  .intro {
    padding: 30px 120px;
    min-height: 70vh;
  }

  .intro h1 {
    font-size: 2.3rem;
  }

  .intro p {
    word-wrap: break-word;
    width: 600px;
    font-size: 0.98rem;
  }

  #portfolio {
    width: 80%;
    margin: auto;
  }

  .project {
    flex-direction: row;
  }

  footer div {
    justify-content: space-between;
    align-items: center;
    padding: 40px 110px 40px 100px;
  }
}